.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding: 1rem 5rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);

  .logo {
    font-size: 2rem;
    font-weight: 900;
    color: #FF5523;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }
}